.pages {
  background-color: #abd8ea;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.see-pages {
  border: none;
  width: 200px;
  height: 30px;
  background-color: #4997E8;
  color: white;
  border-radius: 15px 15px 15px 15px;
  margin: 5px;
  font-size: 15px;
}

.see-pages:hover {
  background-color: white;
  color: #4997E8;
}