.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #abd8ea;
}

.card-container-section {
  background-color: #abd8ea;
  height: 100vh;
}

.loading-comment {
  margin-top: 100px;
  font-size: 3em;
  text-align: center;
}

.loading-gif {
  width: 200px;
  height: 180px;
}

.nofavorites-gif {
  margin-left: 110px;
}

@media only screen and (max-width: 420px) {
 .nofavorites-gif {
   margin-left: 40px;
 }
}