.recipe-card {
  border: 1px solid black;
  width: 280px;
  height: 340px;
  margin: 5px;
}

.favorite-button {
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(24, 204, 33)
}

.recipe-image {
  width: 150px;
  height: 150px;
}

