@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

.App-header {
  background-color: #2f97ef;
  height: 130px;
  padding: 20px;
  color: white;
}
.App-title {
  color: white;
  font-size: 2.5em;
  text-decoration: none;
  visibility: center;
  font-family: 'PT Serif',
  serif;
  display: block;
}

.top-icon {
  width: 40px;
  height: 40px;
  filter: invert(100);
  vertical-align: center;
  margin-right: 5px;
}

.App-title:hover {
  color: #E1DCDC;
}

.view-button {
  color: white;
  text-decoration: none;
  margin: 5px;
}

.view-favorites-button {
  color: white;
  text-decoration: none;
  text-align: right;
  display: block;
  font-size: 1.5em;
  font-family: 'PT Serif',
  serif;
}

.view-favorites-button:hover {
  color: #E1DCDC;
}

.logout-button {
  border: none;
  font-size: 1.2em;
  font-family: 'PT Serif',
  serif;
  color: white;
  background-color: #2f97ef;
  margin-left: 145px;
  margin-bottom: 5px;
}

.logout-button:hover {
  color: #E1DCDC;
}

.favorites-button-not-signedin {
  color: white;
  border: none;
  background-color : #2f97ef;
  text-align: right;
  display: block;
  font-size: 1.5em;
  font-family: 'PT Serif',
  serif;
}

.favorites-button-not-signedin:hover {
  color: #E1DCDC;
}

.error-message {
  text-align: center;
  font-size: 1.5em;
  font-family: 'PT Serif',
  serif;
  margin: 0;
}

.user-email {
  margin: 0;
}

.logout-welcome {
  float: right;
  font-size: 1.2em;
}

@media only screen and (max-width: 530px) {
  .App-header {
    height: 180px;
  }

  .user-email {
    margin-bottom: 5px;
  }
}